*{  
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family: "bignoodletitling";
    src: url(assets/font/bignoodletitling/big_noodle_titling.ttf);
  }
body{
    background-image: url(assets/images/bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fundo{
    /*background-color: rgba(0, 0, 0, 0.3);*/
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
  }
.container{
    width: 1532px; 
    height: 822px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    font-family: "bignoodletitling", sans-serif;
}
.team-blue{
    width: 1006px;
    height: 305px;
}
.barra{
    height: 37px;
    width: 1006px;
    background-color: #DADADA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.barra-li{
    list-style: none;
}
.team-blue--li{
    list-style: none;
    height: 65px;
    display: flex;
    opacity: 0.8;
}
.team-blue--li--border{
    background-color: #24cdf4;
    opacity: 0.8;
    list-style: none;
    height: 65px;
    display: flex;
}
.team-blue--li--eu{
    border-bottom: solid 1px #11617d;
    list-style: none;
    height: 65px;
    display:flex;   
    opacity: 0.9;
}
.team-red--li{
    background-color: #8c1a2d;
    opacity: 0.8;
    list-style: none;
    height: 64px;
    display: flex;
    border-bottom: solid 1px #7d1123;
}

.team-red{
    width: 1006px;
    height: 305px;
}
.heroi-e-hole {
    display: flex;
    width: 95px;
    height: 65px;
    justify-content: center;
    border-bottom: #0c4357 solid 1px;
}
.hole-blue{
    background-color: #24cdf4;
    height: 65px;
    border-bottom: 1px solid #11617d;
}
.img-hole{
    height: 25px;
    width: 30px;
    margin-top: 17px;
}
.heroi{
    height: 65px;
    width: 65px;
}
.img-heroi{
    height: 64px;
    width: 65px;
    background-color: #1d7b93;
}
.vs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
    font-size: 50px;
    font-style: italic;
    color: white;
    margin-top: 24px;
}
hr{
    width:260px;
    margin: 20px;
}
h1{
    font-weight: bold;
}
.hole-red{
    background-color: #f4244a;
    height: 65px;
    opacity: 0.9;
}
.img-heroi-red{
    width: 100%;
    height: 100%;

}
.heroi-e-hole--red {
    display: flex;
    width: 90px;
    height: 65px;
    justify-content: center;
}
.team-red--li--border{
    background-color: #8c1a2d;
    list-style: none;
    opacity: 0.8;
    height: 65px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex; 
}
.li-player{
    background-color: #1d7b93;
    height: 65px;
    width: 368px;
    border-bottom: solid 1px #11617d;
}
.li-escuro--blue{
    background-color: #135e70;
    height: 65px;
    width: 195px;
    border-bottom: solid 1px #0c4357;
}
.eliminacao,
.todo,
.morte{
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:18px;
}
.li-direita{
    background-color: #1d7b93;
    height: 65px;
    width: 368px;
    font-size: 16px;
    border-bottom: solid 1px #11617d;
    width: 368px;
}
.li-escuro--blue,
.li-direita{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    letter-spacing:3px;
}
.ult-nome{
    display: inline-flex;
}
.ult{
    height: 43px;
    width: 43px;
    border-radius: 21px;
    border: solid 5px #ff7e1e;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}
.nome-player{
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.hole-red--border{
    background-color: #e83051;
    height: 65px;
    opacity: 1;
    border-bottom-left-radius: 5px;
}
.li-player--red{
    background-color: #8c1a2d;
    height: 65px;
    width: 368px;
}
.li-escuro--red{
    background-color: #640f1d;
    height: 65px;
    width: 195px;
}
.li-direita--red{
    background-color: #8c1a2d;
    height: 65px;
    width: 368px;
    font-size: 16px;
}

.li-escuro--red,
.li-direita--red{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    letter-spacing:3px;
}
.li-direita--red--border{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    letter-spacing:3px;
}
.cinza-red{
    color: #abcbda;
    margin-left: 65px;
    margin-right: 65px;
    font-size: 16px;
    letter-spacing: 3px;
}

.ult-nome--red{
    display: inline-flex;
}
.ult-red{
        height: 44px;
        width: 44px;
        border-radius: 23px;
        border: solid 5px #ff7e1e;
        text-align: center;
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 18px;
}
.nome-player--red{
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.retangulo{
    margin-left: 11px;
    height: 822px;
    width: 515px;

}
.menu-heroi{
    background-color: #272b37;
    height: 622px;
    width: 515px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.9;
    color: white;
    padding-left: 36px;
    padding-top: 87px;
}
.heroi-card{
    background-color: #354161;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heroi-card img{
    height: 200px;
    width: 190px;
}
.jogadores-salvos{
    background-color: #272c3a;
    width: 270px;
    height: 85px;
    border-radius: 13px;
    margin-right: 20px;
    margin-left: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.numero-3{
    font-size: 30px;
    font-style: italic;
}
.numero-porcentagem h2{
    font-family: Calibri;
    font-size: 27px;
    font-weight: normal;
}


.salvos-texto{
    font-family: 'Montserrat';
    font-weight: 200;
    text-transform: uppercase;
    color: #999a9a;
    font-size: 20px;
}

.dano,
.cura,
.mit{
    height: 65px;
    width: 122.666px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
}
.li-escuro--red{
    height: 65px;
    width: 195px;
}
#zero{
    color: #bbb;
}

